<div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
    <div class="alert alert-danger" role="alert">
        Invalid credentials! <a href="/" class="alert-link">Try again</a>
    </div>
</div>
