<style>
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70vh;
        padding-left: 30%;
        padding-right: 30%;
    }    
</style>

<div class="form">    
    <form action="/" method="post" class="form-control">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
